@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');

:root {
  /* Override Variables */
  --font-family-sans-serif: 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --tan: #F4F1E9;
  --green: #8D9A94;
  --orange: #DE903C;
  --blue: #444D61;
  --gray-border: #707070;
  --light: #f8f9fa;
  --dark: #444D61;

  /* Page Variables */
  --font-family-serif: Merriweather, serif;
  --color-text: var(--blue);
  --font-family-text: var(--font-family-serif);
}

.family-sans {
  font-family: var(--font-family-sans-serif);
}

body {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: 300;
  font-size: 1.1em;
  background-color: var(--tan);
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--gray-border)
}

a:hover {
  color: var(--orange);
}

.navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}

.jumbotron {
  margin:0px 0px 0px 0px;
  background: 
    linear-gradient(
      0.25turn,
      rgba(102, 11, 11, 0.383),
      rgba(19, 143, 58, 0.212)
    ),
    url(/images/stocks/aaron-burden-307060-unsplash_1920_tiny.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:285px;
}

.layout-social .layout-icon {
  font-size: 2.5em;
  color: var(--color-text)
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.tab-high {
  background-color: var(--tan);
}

.tab-left {
  background-color: var(--orange);
}

.tab-right {
  background-color: var(--green);
}




